.App {
	text-align: center;
}

.skills-input.header {
	background-color: #b3b1b1;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	position: relative;
	top: 1px;
	padding: 6px 10px;
	font-size: 0.9em;
}

.skills-input.form {
	padding-right: 50px;
	border-radius: 0;
	border-color: #b3b1b1;
	outline: 0;
	padding: 6px 10px;
	border-width: 1px;
}

.mdb-progress-container {
	margin: 0.7rem auto;
	background-color: #b3b1b1;
	width: 50%;
	color: #fff;
	border-radius: 10px;
	position: relative;
}

.mdb-progress-bar {
	background-color: #1266f1;
	border-radius: 10px;
	position: absolute;
	top: 1px;
}
.paginationBttns {
	/* width: 80%; */
	padding: 0;
	margin: 0 auto;
	margin-top: 32px;
	list-style: none;
	display: flex;
	justify-content: center;
}

.paginationBttns a {
	padding: 10px;
	margin: 8px;
	border-radius: 5px;
	border: 1px solid #000000;
	color: #000000;
	cursor: pointer;
}

.paginationBttns a:hover {
	color: white;
	background-color: #000000;
}

.paginationActive a {
	color: white;
	background-color: #000000;
}

.paginationDisabled a {
	color: grey;
	background-color: grey;
}

.survey-description {
	margin: 0 auto;
}
.survey-description ul {
	text-align: left;
	width: 38%;
	margin: 0 auto;
}
.survey-description ul li {
	list-style-type: circle;
	margin-top: 10px;
}

.subheader {
	text-decoration: underline;
}
